@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --font-color: #222;
  --bg-color: #f2f3f7;
  --button-bg-color: #f2f3f7;
  --button-shadow: -6px -6px 8px rgba(255, 255, 255, 0.9),
    5px 5px 8px rgba(0, 0, 0, 0.07);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}
.app-main {
  background-color: var(--bg-color);
  border-radius: 40px;
  width: 400px;
  padding: 1.5rem;
  box-shadow: -4px -4px 8px 0px #ffffff, 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.app-heading {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.searchInputBox {
  margin-bottom: 1rem;
}

.input-box {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 10px;
  padding: 0 10px;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.button-submit {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
}

.weather-body {
  padding: 1rem;
  line-height: 2rem;
  border-radius: 10px;
  height: 50vh;
}

.location-details {
  font-weight: bold;
}

.weather-status {
  padding: 20px;
}

.temp {
  font-family: cursive;
  font-size: 5rem;
  margin: 2rem;
}

.min-max,
.weather {
  font-size: 1.2rem;
  font-weight: 600;
}
